<
<!DOCTYPE html>
<html>
<head>
    <title>Registration Successful</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }

        h2 {
            font-size: 36px;
            color: #333;
            margin-top: 50px;
        }

        p {
            font-size: 18px;
            color: #666;
            margin-top: 20px;
        }

        .logout-button {
            position: absolute;
            top: 70px;
            right: 20px;
        }

        .btn {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            border-radius: 4px;
        }

            .btn:hover {
                background-color: #3e8e41;
            }
    </style>
</head>
<body>
    <h2>Registration Successful</h2>
    <p>Kindly,Wait for your Verification! After Verification,You can Poll Your Votes!</p>
    <button type="button" class="btn logout-button" onclick="location.href='@Url.Action("Login", "UserRegistrations")'">Logout</button>
</body>
</html>
